.header {
   display: flex;
   justify-content: space-between;
   border: 1px solid black;

   .logo-container {
      .logo {
         display: flex;
         width: 64px;
         min-height: 64px;
      }
   }

   .nav-container {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 0 10px;

      .nav-item {
         list-style: none;
         cursor: pointer;
      }
   }
}

.res-container {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.res-card {
   width: 200px;
   height: 300px;
   padding: 2px;
   background-color: #d0d0d0;
}

.res-card:hover {
   border: 1px solid black;
}
.res-card > .res-logo {
   width: 100%;
   height: auto;
}

.search {
   padding: 10px;
}
