.header {
   display: flex;
   justify-content: space-between;
   border: 1px solid black;

   .logo-container {
      .logo {
         display: flex;
         width: 64px;
         min-height: 64px;
      }
   }

   .nav-container {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 0 10px;

      .nav-item {
         list-style: none;
         cursor: pointer;
      }
   }
}
