@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
   display: flex;
   justify-content: space-between;
   border: 1px solid black;

   .logo-container {
      .logo {
         display: flex;
         width: 64px;
         min-height: 64px;
      }
   }

   .nav-container {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 0 10px;

      .nav-item {
         list-style: none;
         cursor: pointer;
      }
   }
}

.res-container {
   /* display: flex;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: space-evenly; */
}

.ellipsis-text {
   overflow: hidden;
   width: 100%;
   display: -webkit-box;
   overflow-wrap: break-word;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}
.cuisines {
   font-weight: 200;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: -0.3px;
   color: rgba(2, 6, 12, 0.6);
}
.res-card {
   /* width: 19rem; */
   /* padding: 5px; */
}

.res-card > img {
   width: 100% !important;
   height: auto !important;
   object-fit: contain;
   border-radius: 20px;
}
.res-card > .res-card-details {
   /* margin: 0.8rem; */
}

.res-card-details > .res-card-heading {
}

.res-card-details > .res-card:hover {
   border: 1px solid black;
}
.res-card > .res-logo {
   width: 100%;
   height: auto;
   box-shadow: 0px 0px 7px 4px #dfdfdf;
}

.search {
   padding: 10px;
}
